import init.qcom.rc
import init.lge.usb.rc
import init.lge.sensors.rc
import init.lge.svelte.rc

on init
    # 131209 security-selinux-task@lge.com SELinux Permissive mode
    # setenforce 0

    # Mount pstore file system on /mnt/pstore
    mkdir /mnt/pstore 660 system system
    mount pstore /mnt/pstore /mnt/pstore

# setup_fs
    wait /dev/block/bootdevice/by-name/userdata
    wait /dev/block/bootdevice/by-name/cache
    wait /dev/block/bootdevice/by-name/sns
    wait /dev/block/bootdevice/by-name/drm
    wait /dev/block/bootdevice/by-name/persist
    wait /dev/block/bootdevice/by-name/mpt
    exec /sbin/setup_fs_static \
        /dev/block/bootdevice/by-name/userdata \
        /dev/block/bootdevice/by-name/cache \
        /dev/block/bootdevice/by-name/sns \
        /dev/block/bootdevice/by-name/drm \
        /dev/block/bootdevice/by-name/persist \
        /dev/block/bootdevice/by-name/mpt \
        no_reboot
on post-fs
    # matia.kim@lge.com 2013.04.10 execute sreadahead daemon to reduce boot-time
    start sreadahead
    # ramoops backup function start service
    # start ramoops_backup

# enable chargerlogo
on chargerlogo
   stop bootlogo

   wait /dev/block/bootdevice/by-name/system
   mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
   chown root system /sys/class/power_supply/bms/current_now
   chown root system /sys/class/power_supply/bms/voltage_ocv
   chmod 0664 /sys/class/power_supply/bms/current_now
   chmod 0664 /sys/class/power_supply/bms/voltage_ocv
   start vm_bms

   write /sys/class/android_usb/android0/enable 0
   write /sys/class/android_usb/android0/idVendor 1004
   write /sys/class/android_usb/android0/idProduct 6300
   write /sys/class/android_usb/android0/bDeviceClass 0
   write /sys/class/android_usb/android0/bDeviceSubClass 0
   write /sys/class/android_usb/android0/bDeviceProtocol 0
   write /sys/class/android_usb/android0/functions charge_only
   write /sys/class/android_usb/android0/enable 1
   exec /sbin/chargerlogo
#LGE_CHANGE_E

#LGE_CHANGE_S, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com
on property:init.svc.media=restarting
    restart qcamerasvr
on property:init.svc.servicemanager=restarting
    restart qcamerasvr
#LGE_CHANGE_E, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com

# [START] jin.park@lge.com, SSR FEATURE
    chmod 0660 /dev/ramdump_adsp
    chown system system /dev/ramdump_adsp

    chmod 0660 /dev/ramdump_audio-ocmem
    chown system system /dev/ramdump_audio-ocmem

    chmod 0660 /dev/ramdump_modem
    chown system system /dev/ramdump_modem

    chmod 0660 /dev/ramdump_smem-modem
    chown system system /dev/ramdump_smem-modem

    chmod 0660 /dev/ramdump_smem-smd
    chown system system /dev/ramdump_smem-smd

    chmod 0660 /dev/ramdump_venus
    chown system system /dev/ramdump_venus
# [END] jin.park@lge.com, SSR FEATURE

# LGE_CHANGE_S, 20130713, jin.park@lge.com, SSR Ramdump Application
service ssr_dump /system/bin/subsystem_ramdump 1
    class late_start
    user system
    group system sdcard_r sdcard_rw
    disabled

on property:persist.service.ssr_dump.enable=1
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 1
    start ssr_dump
on property:persist.service.ssr_dump.enable=0
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0
    stop ssr_dump
# LGE_CHANGE_E, 20130713, jin.park@lge.com

on early-boot
exec /system/bin/sh /system/etc/init.betae.wifi.sh ${ro.board.platform} ${ro.serialno}

on property:persist.sys.emmc_size=0
	start set_emmc_size

on property:persist.sys.emmc_size=4GB
	setprop ro.device.memory.system 0
	setprop ro.device.memory.internal 4

on property:persist.sys.emmc_size=8GB
	setprop ro.device.memory.system 0
	setprop ro.device.memory.internal 8

on boot
    insmod /system/lib/modules/texfat.ko

	#Touch_LPWG
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
	chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_data
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
	chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_notify
	chown system lgkeyguard /sys/devices/virtual/input/lge_touch/keyguard
	chmod 664 /sys/devices/virtual/input/lge_touch/keyguard
	chown system system /sys/devices/virtual/input/lge_touch/dsv
	chmod 600 /sys/devices/virtual/input/lge_touch/dsv
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_debug
	chmod 600 /sys/devices/virtual/input/lge_touch/lpwg_debug
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_fail_reason
	chmod 600 /sys/devices/virtual/input/lge_touch/lpwg_fail_reason
	chown system system /sys/devices/virtual/input/lge_touch/sensor_value
	chmod 600 /sys/devices/virtual/input/lge_touch/sensor_value
	chown system system /sys/devices/virtual/input/lge_touch/enable_sensor_interlock
	chmod 600 /sys/devices/virtual/input/lge_touch/enable_sensor_interlock

# matia.kim@lge.com 2013.04.10 execute sreadahead daemon to reduce boot-time
service sreadahead /sbin/treadahead
    oneshot
    disabled

# matia.kim@lge.com 2013.04.03 make a diecision whether sreadahead would be performed or not.
service sreadahead-check /sbin/sreadahead_check
    class main
    user root
    group root
    oneshot

 # ramoops backup function service
 # service ramoops_backup /system/bin/sh /system/etc/ramoops_backup.sh
 #    class main
 #    disabled
 #    oneshot

# Factory, ATD
service atd /system/bin/atd /dev/ttyGS0 /dev/hsic0
    socket atd stream 0660 system inet
    class main

# Factory, MTSD lg-msp@lge.com
service mtsd /system/bin/mtsd
        class late_start
        oneshot
        socket mtsd.port stream 660 system system

on property:rild.modem_restart=silence
    write /sys/module/lge_handle_panic/parameters/gen_modem_panic 2

on property:sys.mts.forcemts=1
    start mtsd
on property:sys.mts.forcemts=0
    stop mtsd

# Bluetooth, bdaddr_loader e2-sw-bt@lge.com
service bdaddr_loader /system/bin/bdaddr_loader
    user root
    group bluetooth net_bt_admin misc net_bt_stack
    disabled
    oneshot

on post-fs-data
# LGE_CHANGE_S, 20111226, jin.park@lge.com, Mobile DM Router
    chown system system /dev/lge_dm_tty0
    chmod 660 /dev/lge_dm_tty0
# LGE_CHANGE_E, 20111226, jin.park@lgm

#set_emmc_size
service set_emmc_size /system/bin/sh /set_emmc_size.sh
    class main
	user root
	group media_rw system sdcard_rw
	disabled
    oneshot

#Sensor daemon
service sensord /system/bin/sensord
    user system
    group system
    class late_start
    oneshot

# LGE_CHANGE_S, [WiFi][jaeoh.oh@lge.com], 2014-05-14, QCT Testmode daemon
service ftm_ptt /system/bin/ftm_ptt -d
    class late_start
    user root
    group radio
    disabled
     oneshot

on property:hw.ftm_ptt_start=1
     start ftm_ptt

on property:hw.ftm_ptt_start=0
     stop ftm_ptt
# LGE_CHANGE_E, [WiFi][jaeoh.oh@lge.com], 2014-05-14, QCT Testmode daemon
#Open NFC server
#service bcm_start_server /system/bin/bcm_start_server
#    class main
#    user root
#    group root
#    oneshot

# SMPL_count_service
service smpl_count /system/bin/smpl_count
	class main
	user root
	oneshot

# add battery fake mode property.
on property:persist.service.fakebatt=1
	write /sys/class/power_supply/battery/pseudo_batt "1 1 100 40 4100000 80 1"
on property:persist.service.fakebatt=0
	write /sys/class/power_supply/battery/pseudo_batt "0 1 100 40 4100000 80 1"

#add RCT service
service rctd /system/bin/rctd
   class late_start
   user root
   group root

# enable & disable crash handler, rtb & trace event through property
service service-crash /system/bin/sh /init.betae.crash.sh
	class main
	disabled
	oneshot

on property:persist.service.crash.enable=1
	restart service-crash

on property:persist.service.crash.enable=0
	restart service-crash
# LGE_CHANGE_S, 20140107, jin.park@lge.com, LGODM application
service lg_dm_router1 /system/bin/lg_dm_router 1
    class late_start
    user system
    group system sdcard_r sdcard_rw
    disabled
    oneshot

on property:persist.service.odm_log.enable=true
     start lg_dm_router1

service lg_dm_router2 /system/bin/lg_dm_router 2
    class late_start
    user system
    group system
    disabled
    socket Full.DM.port stream 660 system system

on property:persist.service.dm_app.enable=true
    start lg_dm_router2
on property:persist.service.dm_app.enable=false
    stop lg_dm_router2

service lg_odm_service /system/bin/lg_odm_service
    class late_start
    user system
    group system net_raw sdcard_r sdcard_rw
    disabled
    oneshot
    socket Full.ODM.port stream 660 system system

on property:persist.service.odm_app.enable=true
    start lg_odm_service
# Define call duration feature
on property:ro.lge.callduration=1
    mkdir /persist-lg/callduration 0770 system radio
    chown system radio /persist-lg/callduration
    chmod 0770 /persist-lg/callduration
# LGE_CHANGE_E, 20140107, jin.park@lge.com, LGODM application
